@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

body{
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
  background: #FDF6E3;
}
/*header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}*/
.sep {
  height: 5px;
  width: 100%;
  background-color: #2691d9;
}
/*header{
  top:10px;
}*/
header  .information img {
    display: block;
    margin: 0 auto 20px;
}
@media(min-width:768px) {
/*  header{
    top:10px;
  }*/
  header  .information img {
        display: block;
        /*top:100px;*/
    margin: 10 auto 20px;
  }
    header  .information {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header  .information .intro-text .name {
        font-size: 4.75em;
          text-align: center;

    }

    header  .information .intro-text .skills {
        font-size: 1.75em;
          text-align: center;

    }
}
header  .information  .intro-text .name {
    display: block;
    text-transform: uppercase;
      text-align: center;

    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header   .information .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
    text-align: center;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

img {
	max-width: 200px;
}

/*.navbar {
  border-radius: 0;
  border: 0;
}*/
/**  Header Navigation **/

 .navbar {
  padding: 30px 0;
}

 .navbar-default {
  background-color: transparent;
  border: none;
}

 .navbar-default .navbar-nav a {
  color: white;
  padding: 5px 8px;
}

 .navbar-default .navbar-nav a:hover {
  color: #2691d9;
}

 .navbar-default .navbar-nav .active a {
  font-weight: 700;
  /*color: #EEC856;*/
  color: #2691d9;;
  background: transparent;
  /*border-bottom: 4px solid #EEC856;*/
  border-bottom: 4px solid #2691d9;
  text-shadow: none;
}

 .navbar-default .navbar-nav .active a:hover {
  color: #E15D5F;
  background: transparent;
  text-shadow: none;
}
/**  Navbar Toggle **/
 .navbar-toggle {
  background-color: #2691d9;
}

 .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

 .navbar-collapse {
  background-color: rgba(255,153,31, 0)
}
@media only screen
and (max-width: 768px) {
   .navbar-collapse .collapse.in {
  background-color: rgba(255,153,31, .5)
  }
}

/* PAGE */
.page {
  padding: 50px 0;
}

.page h2 {
  text-align: center;
  margin-bottom: 30px;
}


.icon-17:hover, .icon-13:hover, .icon:hover{
  border-radius: 100%;
  color: #0e1925;
  fill: #0e1925;
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
          transition: background-color 0.5s, transform 0.5s ease-out;
}
.icon {
	fill : #2691d9;

}
.icon:hover {
	fill : #819090;
}
.icon-13 {
  color: #26d991;
  fill: #26d991;
}
.icon-13:hover {
  background: #26d991;
}
.icon-17 {
  color: #2691d9;
  fill: #2691d9;
}
.icon-17:hover {
  background: #2691d9;
}
hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

